#TransactionTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#TransactionTable td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

#TransactionTable tr:hover {
  background-color: #ddd;
}